h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

/* body {
  background-color: tomato;
} */

/* ========== MIN-WIDTH MAX-WIDTH ========== */
/* 500+ */
/* @media (min-width: 500px) {
  body {
    background-color: teal;
  }
} */

/* 768+ */
/* @media (min-width: 768px) {
  body {
    background-color: aqua;
  }
} */

/* 0px - 768px */
/* @media (max-width: 768px) {
  body {
    background-color: tan;
  }
} */

/* 0px - 500px */
/* @media (max-width: 500px) {
  body {
    background-color: blueviolet;
  }
} */

/* @media (width: 700px) {
  body {
    background-color: black;
  }
} */

/* ========== AND ========== */
/* 768px - 1023px */
/* @media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: aquamarine;
  }
} */
/* ========== OR ========== */
/*
0px - 767px
1024px +
*/
/* @media (max-width: 767px), (min-width: 1024px) {
  body {
    background-color: chocolate;
  }
} */
/* ========== TYPES ========== */
/* 
  all
  screen 
  print
*/
/* @media screen and (min-width: 768px) {
  body {
    background-color: tomato;
  }
} */

/* @media print {
  .menu {
    display: none;
  }

  .section {
    padding: 100px 0;
  }

  .title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .description {
    font-size: 18px;
    line-height: 1.4;
  }
} */

/* ========== ORIENTATION ========== */
/* @media screen and (orientation: portrait) {
  body {
    background-color: brown;
  }
}

@media screen and (orientation: landscape) {
  body {
    background-color: silver;
  }
} */

/* @media screen and (orientation: landscape) and (max-width: 767px) {
  body {
    background-color: silver;
  }
} */
