:root {
  --primary-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: 157, 164, 189;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-light: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: var(--primary-font-family);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ========= START COMPONENTS ========= */
.modal-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  /*color: #ffffff;*/
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social-links-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-light);
}

.social-links-list-link:hover,
.social-links-list-link:focus {
  color: var(--accent-color);
}

.overtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.overtitle-theme-dark {
  color: rgb(var(--primary-text-color-theme-dark), 0.6);
}

.overtitle-theme-light {
  color: var(--secondary-text-color-theme-light);
}

.main-title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  /* color: #ffffff; */
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.description-theme-dark {
  color: rgb(var(--primary-text-color-theme-dark));
}

.description-theme-light {
  color: var(--primary-text-color-theme-light);
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.67;
  letter-spacing: 0.05em;
}

.title-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.title-theme-light {
  color: var(--secondary-text-color-theme-light);
}
/* ========= END COMPONENTS ========= */

/* ========= START HEADER ========= */
.nav-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}

/* ========= END HEADER ========= */

/* ========= START HERO ========= */
/* ========= END HERO ========= */

/* ========= START ABOUT ========= */
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
/* ========= END ABOUT ========= */

/* ========= START SERVICES ========= */
.services-list-name,
.services-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgb(var(--primary-text-color-theme-dark));
}
/* ========= END SERVICES ========= */

/* ========= START ADVANTAGES ========= */
.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}
/* ========= END ADVANTAGES ========= */

/* ========= START EMPLOYEES ========= */
.employees-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}

.employees-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* ========= END EMPLOYEES ========= */

/* ========= START HERO ========= */
.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgb(var(--primary-text-color-theme-dark));
}
.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgb(var(--primary-text-color-theme-dark));
}
/* ========= END HERO ========= */

/* ========= START FOOTER ========= */
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: rgb(var(--primary-text-color-theme-dark));
}
/* ========= END FOOTER ========= */
