.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms linear, visibility 500ms linear;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
}

.moda-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #555555;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 6px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid #555555;
  border-radius: 5px;
  transition: border-color 250ms linear;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: teal;
  transition: background-color 250ms linear;

  .contact-form-input:focus + & {
    background-color: var(--accent-color);
  }
}

.contact-form-message {
  width: 100%;
  height: 100px;
  margin-top: 6px;
  padding: 10px 16px;
  resize: none;
  border: 1px solid #555555;
  border-radius: 5px;
  transition: border-color 250ms linear;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    text-transform: uppercase;
    color: rgba(117, 117, 117, 0.5);
  }
}

.contact-form-checkbox-wrapper {
  margin-bottom: 20px;
}

.contact-form-checkbox-label {
  @extend %align;
  font-size: 14px;

  &::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #555555;
    cursor: pointer;
    content: '';
    margin-right: 10px;

    .contact-form-checkbox:focus + & {
      outline: 1px solid rgba(0, 0, 255, 0.5);
    }

    .contact-form-checkbox:checked + & {
      background-color: var(--accent-color);
      box-shadow: inset 0 0 0 4px #ffffff;
    }
  }
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 160px;
  padding: 12px 16px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  @include font(12px, 600, 16px);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color-theme-dark);
  }
}
